<nav
  id="sidebarMenu"
  class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
>
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="/">
          <span data-feather="home"></span>
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/categories">
          <span data-feather="file"></span>
          Categories
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/products">
          <span data-feather="shopping-cart"></span>
          Products
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users">
          <span data-feather="users"></span>
          Users
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/orders">
          <span data-feather="bar-chart-2"></span>
          Orders
        </a>
      </li>
      <li class="nav-item">
        <form action="/logout" method="post">
          <button type="submit" class="m-3 btn btn-outline-secondary">Sign out</button>
        </form>
      </li>
      {{!-- <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="layers"></span>
          Integrations
        </a>
      </li> --}}
    </ul>
  </div>
</nav>