.footer {
  &__list {
    margin-top: 35px;
    display: flex;
    justify-content: space-around;
  }
  &__item {
    & > ul {
      list-style-type: none;
      padding: 0px;
      line-height: 2;
      & > li {
        text-align: left;
        color: white;
        & > a {
          text-decoration: none;
          color: white;
          &:hover {
            text-decoration: none;
            color: #2196f3;
          }
        }
      }
    }
  }
}
